// Widths
$desktop: 1170px;
$tablet: 920px;
$mobile: 700px;

// Mixins
@mixin below($width) {
  @media (max-width: #{$width - 1px}) {
    @content;
  }
}
@mixin above($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}
@mixin sm-desktop {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$mobile}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile - 1px}) {
    @content;
  }
}
